name: Terraform CI/CD
on:
  workflow_dispatch:

jobs:
  terraformScan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: terraform gitleaks scan
        uses: gitleaks/gitleaks-action@v1
        #with:
          #report_format: summary
          #exit_code: 0 #اقفل دي لما تيجي ترن 
          #fail_on_secrets: false #اقفل دي لما تيجي ترن 
      
      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: .
          soft_fail: true
          download_external_modules: true
      
     # - name: Checkov report        
        # run: echo "Checkov report: ${{ steps.checkov.outputs.report }}"

  terraformBuild:
    runs-on: ubuntu-latest
    needs: terraformScan
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
      
      - name: Terraform Init
        run: terraform init
      
      - name: Terraform Validate
        run: terraform validate
      
      - name: Terraform Plan
        run: terraform plan
      
      - name: Terraform Apply
        run: terraform apply -auto-approve
